
findbar {
  -moz-binding: url("chrome://regexfind/content/regexfindbar.xml#regexfindbar") !important;
}

.findbar-textbox{
	width:18em;
}

.found-matches {
  color: #000;
  -moz-margin-start: 15px !important;
  font-weight:bold;
  text-shadow:rgba(0,0,0,0.4) 2px 2px 0.3em !important;
}

.findbar-regex{
  -moz-margin-start: 5px;
}
.findbar-regex > .toolbarbutton-icon {
  display: none;
}
